.manager {
    height: 100%;
    position: relative;
}

.topnav {
    //background-color: #252831;
    height: 60px;
}

.devices {
    height: 100%;
    width: 20%;
    //background-color: #252831;
    position: absolute;
    left: 0;
}

.viewport {
    height: 100%;
    width: 80%;
    //background-color: #282c34;
    position: absolute;
    right: 0;
}